<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EldigmPlusApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <EldigmPlusApp.Properties.Settings>
            <setting name="EldigmPlusApp_WsMHome_WsMainHome" serializeAs="String">
                <value>http://localhost:49501/WebSvc/MainHome/WsMainHome.svc</value>
            </setting>
            <setting name="EldigmPlusApp_WsSCodeGrpPra_WsSysCodeGrpPra" serializeAs="String">
                <value>http://localhost:49501/WebSvc/Sys/SysCode/WsSysCodeGrpPra.svc</value>
            </setting>
            <setting name="EldigmPlusApp_WsSCodeGrp_WsSysCodeGrp" serializeAs="String">
                <value>http://localhost:49501/WebSvc/Sys/SysCode/WsSysCodeGrp.svc</value>
            </setting>
        </EldigmPlusApp.Properties.Settings>
    </applicationSettings>
</configuration>
