<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>

  <system.serviceModel>
    <services>

      <service name="EldigmPlusSvc_Main.WebSvc.Sys.SysCode.WsSysCodeGrp" behaviorConfiguration="EldigmPlusSvc_Main.WebSvc.WsBehavior">
        <endpoint address="" behaviorConfiguration="EldigmPlusSvc_Main.WebSvc.WsBehavior" binding="basicHttpBinding" contract="EldigmPlusSvc_Main.WebSvc.Sys.SysCode.IWsSysCodeGrp" bindingConfiguration="WsBinding">
        </endpoint>
      </service>

      <service name="EldigmPlusSvc_Main.WebSvc.Sys.SysAuth.WsSysAuthMainDB" behaviorConfiguration="EldigmPlusSvc_Main.WebSvc.WsBehavior">
        <endpoint address="" behaviorConfiguration="EldigmPlusSvc_Main.WebSvc.WsBehavior" binding="basicHttpBinding" contract="EldigmPlusSvc_Main.WebSvc.Sys.SysAuth.IWsSysAuthMainDB" bindingConfiguration="WsBinding">
        </endpoint>
      </service>

      <service name="EldigmPlusSvc_Main.WebSvc.Sys.ComnCode.WsComnCodeGrp" behaviorConfiguration="EldigmPlusSvc_Main.WebSvc.WsBehavior">
        <endpoint address="" behaviorConfiguration="EldigmPlusSvc_Main.WebSvc.WsBehavior" binding="basicHttpBinding" contract="EldigmPlusSvc_Main.WebSvc.Sys.ComnCode.IWsComnCodeGrp" bindingConfiguration="WsBinding">
        </endpoint>
      </service>
      
    </services>

    <behaviors>
      <endpointBehaviors>
        <behavior name="EldigmPlusSvc_Main.WebSvc.WsBehavior" />
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="EldigmPlusSvc_Main.WebSvc.WsBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <basicHttpBinding>
        <binding name="WsBinding" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="524288">
          <security mode="None">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>

    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      minFreeMemoryPercentageToActivateService="0" multipleSiteBindingsEnabled="false" />
  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <connectionStrings>
    <add name="Key" connectionString="6LL/J2V3x6N8kXK3qj5FOxZpRR20xWFlgnscFikXwy0="/>
    <add name="ConnectionStr_IP" connectionString="Data Source=192.168.0.77,61433;"/>
    <add name="ConnectionStr_DB" connectionString="LHslo/6dYY2921shDQCFEn3U689awTak4xE93T+IR2toBhxw03XihIPm7ZUHV6mYwBSBd5K69EyGcmBxKLhyPA=="/>
    <add name="ConnectionStr_USER" connectionString="m3udcyI3FDRzUlbngY9b+dagUIJMJhGI2G8jTr8VZNo5288xnELZrKB4wUOYb+QupIrBUPgysfFu+K1Y212GGA=="/>
  </connectionStrings>

</configuration>
